p {color: black;}
h1,h2,h3,h4,h5,h6{color: black}
.logo {
    height: 3rem;
    width: 3rem;
}
.scrum{
    background: linear-gradient(0deg, rgba(64,195,34,1) 0%, rgba(45,253,114,1) 100%);
}
.sticky{
    height: 5rem;
    width: 5rem;
    cursor: grab;
}
.page-heading{
    text-align: center;
}
.card-heading {
    text-align: center;
}

/*button1*/

.btn1 {
  appearance: none;
  background-color: white;
  border-radius: 40em;
  border-style: none;
  
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: auto;
  width: auto;
}

.btn1:hover {
  background-color: #653780;
  box-shadow: #3f1651 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn1:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn1 {
    font-size: 1rem;
    padding: .75rem 2rem;
  }
}

/*button2 dark interior light exterior*/

.btn2 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .btn2 {
    padding: 19px 32px;
  }
}

.btn2:before,
.btn2:after {
  border-radius: 80px;
}

.btn2:before {
    background-image: linear-gradient(0deg, rgba(34,91,195,1) 0%, rgba(233,45,253,1) 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
color: black;
}

.btn2:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
  color: black;
}

.btn2:hover:not(:disabled):before {
    background: linear-gradient(0deg, rgba(34,91,195,1) 0%, rgba(233,45,253,1) 100%);
    color: black;
}

.btn2:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.btn2:active:not(:disabled) {
  color: #ccc;
}

.btn2:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  color: black;
}

.btn2:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
  color: black;
}

.btn2:disabled {
  cursor: default;
  opacity: .24;
}